header{
    text-align: center;
    font-size: xx-large;
}

form{text-align: center;}
hr{ border-color: rgb(245, 211, 245);
border-width: 50px;}
div{ text-align-last: center;}
body{ background-color: rgb(232, 218, 236);}

.
