header{ 
    font-size: xx-large;
}
h1{  background-color: rgb(255, 249, 196);}

h2{ background-color: rgb(237, 131, 31);}

P{ 
    text-align:
}

ul{
    text-align: right;
    color: rgb(25, 23, 26);
    text-decoration:}
ol{ float:right;}
h3{
    background-color: #dcb9fa;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
}