header{ 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    text-align: center;
    font-size: xx-large;
    background-color: rgb(211, 173, 246);
}
h1{ 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

h2{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}